<div class="row">
    <div class="col-md-12">
        <h2 class="page-header">值日生</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-5">
                    <form class="form-horizontal">
                        <div class="input-group">
                            <input class="form-control" type="date" ng-model="toAddDutyData.startDate">
                            <span class="input-group-addon">到</span>
                            <input class="form-control" type="date" ng-model="toAddDutyData.endDate">
                            <div class="input-group-btn">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown">
                                        {{hint}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="" ng-click="switchStudent(student)"
                                               ng-repeat="student in studentData">{{student.name}}</a></li>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-info" ng-click="addDutyStudent()">
                                    <span class="glyphicon glyphicon-plus"></span> 添加值日生
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="page-header"></div>
                <div class="col-md-12">
                    <table class="table table-striped table-hover table-bordered">
                        <tr>
                            <th>日期</th>
                            <th>值日生</th>
                            <th>删除</th>
                        </tr>
                        <tr ng-repeat="dutyStudent in dutyStudentData | toArray | orderBy:'startDate':true">
                            <td>{{dutyStudent.startDate}} 到 {{dutyStudent.endDate}}</td>
                            <td>{{dutyStudent.name}}</td>
                            <td>
                                <a href="" class="btn btn-xs delete-btn btn-danger"
                                   ng-click="delDutyStudent(dutyStudent.studentId)">
                                    <span class="glyphicon glyphicon-remove"/>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>