<!DOCTYPE html>
<html ng-app="signInSys" ng-controller="signInSysCtrl">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>签到系统</title>
    <link href="#springUrl('/lib/bootstrap/dist/css/bootstrap.min.css')" rel="stylesheet" type="text/css">
    <link href="#springUrl('/lib/metisMenu/dist/metisMenu.min.css')" rel="stylesheet" type="text/css">
    <link href="#springUrl('/lib/font-awesome/css/font-awesome.min.css')" rel="stylesheet" type="text/css">
    <link href="#springUrl('/css/admin.css')" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
    <div ng-controller="navbar_ctrl">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a href="#/" class="navbar-brand">签到系统 - 管理员</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="" data-toggle="modal" data-target="#adminPassword"><i class="fa fa-user fa-fw"></i>
                            修改管理员密码</a></li>
                        <li><a href="" data-toggle="modal" data-target="#labPassword"><i class="fa fa-user fa-fw"></i>
                            修改实验室密码</a></li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> 退出登录</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#students"><i class="glyphicon glyphicon-education"></i> 学生管理</a>
                        </li>
                        <li>
                            <a href="#courses"><i class="glyphicon glyphicon-book"></i> 学生课表管理</a>
                        </li>
                        <li>
                            <a href="#duty_students"><i class="glyphicon glyphicon-user"></i> 值日生管理</a>
                        </li>
                        <li>
                            <a href="#statistics"><i class="glyphicon glyphicon-search"></i> 统计数据</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="modal fade" id="adminPassword" tabindex="-1" role="dialog" aria-labelledby="adminPasswordLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="adminPasswordLabel">修改管理员密码</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="adminPassword-addon">新密码</span>
                                        <input type="password" class="form-control" aria-describedby="adminPassword-addon" ng-model="adminPassword" required>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-click="modifyAdminPassword()" class="btn btn-info glyphicon glyphicon-eye-close" data-dismiss="modal"> 确定
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="labPassword" tabindex="-1" role="dialog" aria-labelledby="labPasswordLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="labPasswordLabel">修改实验室密码</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="labPassword-addon">新密码</span>
                                        <input type="password" class="form-control" aria-describedby="labPassword-addon" ng-model="labPassword" required>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-click="modifyLabPassword()" class="btn btn-info glyphicon glyphicon-eye-close" data-dismiss="modal"> 确定
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="page-wrapper">
        <ng-view></ng-view>
    </div>
</div>
<script src="#springUrl('/lib/jquery/dist/jquery.min.js')"></script>
<script src="#springUrl('/lib/bootstrap/dist/js/bootstrap.min.js')"></script>
<script src="#springUrl('/lib/metisMenu/dist/metisMenu.min.js')"></script>
<script src="#springUrl('/lib/angular/angular.min.js')"></script>
<script src="#springUrl('/lib/angular/toArrayFilter.js')"></script>
<script src="#springUrl('/lib/angular/angular-route.min.js')"></script>
<script src="#springUrl('/lib/angular-datetime/dist/datetime.js')"></script>
<script src="#springUrl('/js/admin_setting.js')"></script>
<script src="#springUrl('/js/admin.js')"></script>
</body>
</html>