<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group"></div>
        <div class="page-header"></div>
    </div>
</div>
<div class="container">
    <div ng-repeat="student in rank_list_data | toArray | orderBy:'stayLabTime':true">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <label style="float: left">
                {{student.name}}
            </label>
            <div class="progress col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" ng-style="getProgressBarWidth(student.stayLabTime)">
                    {{student.stayLabTime}}小时
                </div>
            </div>
        </div>
        <p style="float: left">请假次数：{{student.absenceTimes}}</p>
    </div>
</div>
