<div class="row">
    <div class="col-md-12 col-lg-12 page-header">
        <div class="col-md-2 input-group has-feedback">
            <span class="input-group-addon">日期</span>
            <input class="form-control" type="date">
        </div>
    </div>
</div>

<div ng-repeat="student in rank_list_data | toArray | orderBy:'stayLabTime':true">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-inline">
                <div class="form-group col-md-1">
                    <span>{{student.name}}</span>
                </div>
                <div class="form-group col-md-10" style="margin-top:13px ">
                    <div class="progress">
                        <div data-toggle="tooltip" class="progress-bar palette palette-wisteria" ng-style="getProgressBarWidth(student.stayLabTime)">{{student.stayLabTime}}小时</div>
                    </div>
                </div>
                <div class="form-group col-md-1">
                    <span class="label palette palette-orange">请假{{student.absenceTimes}}次</span>
                </div>
            </div>
        </div>
    </div>
</div>
