<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">排行榜</h2>
        </div>
    </div>
    <div ng-repeat="student in rank_list_data | toArray | orderBy:'stayLabTime':true">
        <div class="col-md-10">
            <label style="float: left">
                {{student.name}}
            </label>
            <div class="progress col-md-offset-1">
                <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                     aria-valuemin="0" aria-valuemax="50" ng-style="getProgressBarWidth(student.stayLabTime)">
                    {{student.stayLabTime}}小时
                </div>
            </div>
        </div>
        <p style="float: left">请假次数：{{student.absenceTimes}}</p>
    </div>
</div>
