<div class="row">
    <div class="col-md-12 col-lg-12 page-header">
        <div class="col-md-2 input-group focus">
            本月累计在实验室时间排名
        </div>
    </div>
</div>
<div ng-repeat="student in rank_list_data | toArray | orderBy:'stayLabTime':true">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-inline">
                <div class="form-group col-md-1">
                    <span>{{student.name}}</span>
                </div>
                <div class="form-group col-md-10" style="margin-top:13px ">
                    <div class="progress">
                        <div data-toggle="tooltip" title="{{student.stayLabTimeStr}}小时"
                             class="progress-bar palette palette-bar-rank palette-wisteria"
                             ng-style="getProgressBarWidth(student.stayLabTime)"></div>
                    </div>
                </div>
                <div class="form-group col-md-1">
                    <span class="label palette palette-orange">请假{{student.absenceTime}}小时</span>
                </div>
            </div>
        </div>
    </div>
</div>
