<div class="row">
    <div class="col-md-12 col-lg-12 page-header">
        <div class="col-md-2 input-group has-feedback">
            <span class="input-group-addon">日期</span>
            <input class="form-control" type="date" id="dateInput" ng-model="currentDate">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9 col-lg-9">
        <div class="row">
            <div class="col-md-offset-2 col-md-10">
                <ul class="pagination" style="margin-bottom: 0px;margin-top: 0px">
                    <li class="active"><a>6</a></li>
                    <li><a>7</a></li>
                    <li class="active"><a>8</a></li>
                    <li><a>9</a></li>
                    <li class="active"><a>10</a></li>
                    <li><a>11</a></li>
                    <li class="active"><a>12</a></li>
                    <li><a>13</a></li>
                    <li class="active"><a>14</a></li>
                    <li><a>15</a></li>
                    <li class="active"><a>16</a></li>
                    <li><a>17</a></li>
                    <li class="active"><a>18</a></li>
                    <li><a>19</a></li>
                    <li class="active"><a>20</a></li>
                    <li><a>21</a></li>
                    <li class="active"><a>22</a></li>
                    <li><a>23</a></li>
                </ul>
            </div>
        </div>
        <div ng-repeat="student in signInInfoData" class="row form-inline">
            <div class="form-group col-md-2">
                <span>{{student.name}}</span>
            </div>
            <div class="form-group col-md-10" style="margin-top:13px ">
                <div class="progress">
                    <div ng-repeat="bar in student.signInInfoTimeSegments" data-toggle="tooltip" title="{{bar.startTime}}~{{bar.endTime}}，{{bar.extra}}" ng-class="setBarClass(bar)" ng-style="getTimeSegmentWidth(bar)"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3">
        <div class="panel panel-info">
            <div class="panel-body">
                <button style="margin-bottom: 4px" ng-click="signIn()" class="btn btn-block palette palette-pumpkin">签到/离开</button>
                <button style="margin-bottom: 4px" data-toggle="modal" data-target="#askForAbsence" class="btn btn-block palette palette-wet-asphalt">请假</button>
                <div style="margin-bottom: 4px" class="panel palette palette-emerald">
                    <div class="panel-heading">
                        值日生
                    </div>
                    <div class="panel-body">
                        <span ng-repeat="student in dutyStudentData">{{student.name}} </span>
                    </div>
                </div>
                <div class="panel palette palette-amethyst">
                    <div class="panel-heading">
                        说明
                    </div>
                    <div class="panel-body">
                        <div class="row mbl">
                            <div class="pallete-item">
                                <dl class="palette palette-orange">
                                    <dt>现在在实验室</dt>
                                </dl>
                                <dl class="palette palette-alizarin">
                                    <dt>之前在实验室</dt>
                                </dl>
                                <dl class="palette palette-peter-river">
                                    <dt>上课 / 请假</dt>
                                </dl>
                                <dl class="palette palette-silver">
                                    <dt>不在实验室</dt>
                                </dl>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="askForAbsence" tabindex="-1" role="dialog" aria-labelledby="askForAbsenceLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h6 class="modal-title" id="askForAbsenceLabel">请填写请假信息</h6>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="askForAbsenceForm">
                    <div class="form-group">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    {{hint}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-inverse" role="menu">
                                    <li><a href="" ng-repeat="student in studentData" ng-click="setAbsenceStudent(student)">{{student.name}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon" id="reason-addon">原由</span>
                                <input type="text" class="form-control" name="reason" aria-describedby="reason-addon" ng-model="askForAbsenceStudent.absenceReason" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="input-group has-success">
                                <span class="input-group-addon" id="startAbsence-addon">开始时间</span>
                                <input placeholder="HH:mm:ss" min="09:00:00" max="21:30:00" type="time" class="form-control" name="startAbsence" aria-describedby="startAbsence-addon" ng-model="askForAbsenceStudent.startAbsence">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="input-group has-success">
                                <span class="input-group-addon" id="endAbsence-addon">结束时间</span>
                                <input placeholder="HH:mm:ss" min="09:00:00" max="21:30:00" type="time" class="form-control" name="endAbsence" aria-describedby="endAbsence-addon" ng-model="askForAbsenceStudent.endAbsence">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="fui-check btn btn-info" ng-click="askForAbsence()" data-dismiss="modal">保存</button>
            </div>
        </div>
    </div>
</div>

<object classid="clsid:A318A9AC-E75F-424C-9364-6B40A848FC6B" width=1 height=1 id=zkonline hspace="0" border="0" align="top" >
    <param name="Visible" value="-1">
    <param name="AutoScroll" value="0">
    <param name="AutoSize" value="0">
    <param name="AxBorderStyle" value="1">
    <param name="Caption" value="Biokey Online(1:1)">
    <param name="Color" value="2147483663">
    <param name="Font" value="MS Sans Serif">
    <param name="KeyPreview" value="0">
    <param name="PixelsPerInch" value="96">
    <param name="PrintScale" value="1">
    <param name="Scaled" value="-1">
    <param name="DropTarget" value="0">
    <param name="HelpFile" value>
    <param name="DoubleBuffered" value="0">
    <param name="Enabled" value="-1">
    <param name="Cursor" value="0">
    <param name="RegisterTemplate" value>
    <param name="VerifyCount" value="3">
    <param name="VerifyTemplate" value>
    <param name="ParentFont" value="0">
    <param name="Threshold" value="10">
    <param name="OneToOneThreshold" value="10">
    <param name="CheckFinger" value>
    <param name="EnrollCount" value="4">
    <param name="DefaultRegFinger" value="0">
    <param name="DefaultWindowClose" value="0">
    <param name="SetVerHint" value>
</object>
<comment><EMBED type="application/x-eskerplus" classid="clsid:A318A9AC-E75F-424C-9364-6B40A848FC6B"codebase="ZKOnline.ocx" width=0 height=0></EMBED></comment>

